<!-- snippets/personalizacao-camisa.liquid -->
<div id="personalizacao-camisa" style="display: block; margin-top: 16px;">
  <label for="custom-name">Nome na camisa:</label>
  <input type="text" id="custom-name" name="properties[Nome na camisa]" placeholder="Ex: F. BARRETO" class="input">

  <label for="custom-number" style="margin-top:10px;">Número na camisa:</label>
  <input type="text" id="custom-number" name="properties[Número na camisa]" placeholder="Ex: 10" class="input">
</div>