{%- comment -%}
  Renderiza os campos SEMPRE no HTML, mas visíveis apenas se a variante inicial for "Personalizar"
{%- endcomment -%}

{%- assign show_customization_fields_on_load = false -%}
{%- if product.selected_or_first_available_variant.title contains 'Personalizar' or product.selected_or_first_available_variant.title contains 'Personalizada' -%}
  {%- assign show_customization_fields_on_load = true -%}
{%- endif -%}

<div id="customization-fields"
     class="customization-fields"
     style="margin-bottom: 20px; display: {{ show_customization_fields_on_load | default: false | ternary: 'block', 'none' }};">
  <div class="product-form__line-item-property">
    <label for="custom_name">Nome:</label>
    <input id="custom_name" type="text" placeholder="Ex: Neymar" name="properties[Nome personalizado]" class="input__field">
  </div>
  <div class="product-form__line-item-property" style="margin-top: 1rem;">
    <label for="custom_number">Número:</label>
    <input id="custom_number" type="text" placeholder="Ex: 10" name="properties[Número personalizado]" class="input__field">
  </div>

  <div id="aviso" style="display: flex; justify-content: center; align-items: center; padding: 10px 0;">
    <label> ⓘ Valor da personalização: R$18,00 </label>
  </div>

</div>
